* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg,lightpink,beige);
}
.calculator {
  height:320px;
  border: 4px double black;
  padding: 20px;
  border-radius: 30px;
  background-color: floralwhite;
}
input {
  width: 250px;
  height:70px;
  background: ghostwhite;
  border:2px solid black ;
  margin: 2px;
  border-radius: 10px;
}
button {
  width: 40px;
  height: 40px;
  margin:4px;
  font-size: 20px;
}
.delete {
  background: dimgray;
  color: white;
  border: 2px solid black;
  font-size: 20px;
}
.deleteAll {
  background: indianred;
  color: white;
  border: 2px solid black;
  font-size: 20px;
}
.operator {
  background: lightsteelblue;
  border: 2px solid black;
}
.equal {
  background: lightgoldenrodyellow;
  width: 143px;
  color: black;
  border: 2px solid black;
}
.number {
  background: white;
  color: black;
  border: 2px solid black;
}
.placeholder {
  color: gray;
  font-size: 70px;
  padding: 10px;
  text-align: right;
}


@media screen and (min-width:480px) {
    .calculator{
        height: 530px;
        width: 500px;
    }
    input{
        height: 140px;
        width: 450px;
    }
    button{
        width: 75px;
        height: 75px;
    }
    .calculator div{
        padding-left: 10px;
    }
    .equal{
        width: 56%;
    }
}